@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;600&display=swap');

html {
    min-width: 100%;
    min-height: 100%;
    scroll-behavior: smooth;
}

body {
    float: left;
    margin: 0px;
    min-width: 100%;
    min-height: 100%;
    font-family: 'Titillium Web', sans-serif;
    font-size: 2.2vh;
    font-weight: 300;
    text-align: justify;
    background: linear-gradient(210deg,#2f393f,#232C33);
    color: #CED3DC;
}

h1 {
    color: #F9E784;
    font-size: 4.3vh;
}

header {
    z-index: 15;
    position: fixed;
    width: 100vw;
    height: 6.5vh;
    padding: 0;
    background-color: #232C33;
    -webkit-box-shadow: 0px 10px 22px 1px rgba(24,30,36,1);
    -moz-box-shadow: 0px 10px 22px 1px rgba(24,30,36,1);
    box-shadow: 0px 10px 22px 1px rgba(24,30,36,1);
    overflow: hidden;
}

header h1 {
    display: inline-block;
    margin: 0 40px;
    color: #df4e53;
}

nav a {
    font-weight: 600;
    font-size: 25px;
    margin: 0 2%;
    text-decoration: none;
    color: #CED3DC;
}

nav a:hover{
    color: #6290C3;
    text-decoration: none;
}

.dropdown a {
    display: none;
}

a {
    font-size: 30px;
    color: #6290C3;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: #CED3DC;
    text-decoration: none;
}

section {
    position: relative;
    min-height: 100vh;
    height: auto;
    padding-top: 9vh;
}

.burger {
    display: none;
    position: fixed;
    right: 1vw;
}

.about {
    margin: auto;
    width: 95vh;
    max-width: 95vw;
    padding: 2vh 4vw 4vh 12vw;
    background-color: #181e24;
}

.slides {
    margin: 2vw auto;
    width: 70vh;
    max-width: 90vw;
    -webkit-transition: opacity 0.6s ease-in-out;
    -moz-transition: opacity 0.6s ease-in-out;
    -o-transition: opacity 0.6s ease-in-out;
    transition: opacity 0.6s ease-in-out;
}

.absolute {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.hidden {
    opacity: 0;
}

.quoted {
    color: #6290C3;
    text-align: right;
}

.dots {
    display: flex;
    justify-content: space-evenly;
    width: 20vh;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
}

.dot {
    background-color: #CED3DC;
    cursor: pointer;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    transition: background-color 0.6s ease;
}

.dot:hover, .active {
    background-color: #67686b;
}

.img {
    position: relative;
    max-width: 90vw;
    float: left;
}

.projects {
    position: relative;
    margin:  0 auto 4vh auto;
    width: 120vh;
    max-width: 94vw;
    overflow: auto;
}

.ptext {
    float: right;
    text-align: right;
    width: 50vh;
    max-width: 90vw;
}

.pdesc {
    background-color: #181e24;
    padding: 12px;
}

.plinks {
    float: right;
    display: flex;
    width: 30vh;
    justify-content: space-evenly;
}

.school {
    margin: auto;
    width: 90vh;
    max-width: 85vw;
}

.cwss {
    background-color: #181e24;
    padding: 5% 4%;
}

.cwss > * {
    margin: 2px;
}

@media (max-width: 125vh) {

    .projects img {
        left: 50%;
        transform: translateX(-50%);
        width: 50vh;
        max-width: 90vw;
        float: none;
    }
    .ptext {
        margin: auto;
        text-align: center;
        float: none;
    }

    .plinks {
        float: none;
        margin: auto;
    }
}

@media (max-width: 72vh) {
    nav a {
        display: none;
    }

    .burger {
        display: flex;
    }

    .dropdown {
        position: fixed;
        z-index: 14;
        top: 6.5vh;
        width: 100vw;
        background: #232C33;
    }

    .dropdownActive a {
        display: block;
    }
}