html,
body {
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Titillium Web', sans-serif;
    background: linear-gradient(210deg, #2f393f, #232C33);
}

h1 {
    color: #F9E784;
    font-size: 4.3vh;
    font-weight: 600;
}

p {
    font-size: 2.2vh;
    font-weight: 300;
    color: #CED3DC;
}

strong {
    font-size: 2.2vh;
    font-weight: 600;
    color: #6290C3;
}

/* Hero Page */
.hero {
    height: 100vh;
    padding-top: 30vh;
}

.hero-inner {
    width: 100vh;
    max-width: 90vw;
    margin: auto;
}

.learn {
    position: relative;
    top: 5vh;
    padding: .5vw 1.8vw;
    background-color: #df4e53;
    color: #181e24;
    border-radius: 10rem;
}

/* Navigation */
header {
    width: 100%;
    height: 7vh;
    background-color: #232C33;
    -webkit-box-shadow: 0 10px 22px 1px rgba(24,30,36,1);
       -moz-box-shadow: 0 10px 22px 1px rgba(24,30,36,1);
            box-shadow: 0 10px 22px 1px rgba(24,30,36,1);
}

header h1 { color: #df4e53; }

.navbar-nav {
    padding-left: 10px;
    background-color: #232C33;
}

a {
    font-size: 30px;
    color: #6290C3;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: #CED3DC;
    text-decoration: none;
}

section {
    position: relative;
    height: auto;
    min-height: 100vh;
    padding-top: 10vh;
}

.burger {
    position: fixed;
    right: 1vw;
    display: none;
}

/* About Page */
.about {
    width: 95vh;
    max-width: 95vw;
    padding: 2vh 4vw 4vh 12vw;
    margin: auto;
    background-color: #181e24;
}

.slides {
    width: 70vh;
    max-width: 90vw;
    margin: 2vw auto;
    -webkit-transition: opacity .6s ease-in-out;
       -moz-transition: opacity .6s ease-in-out;
         -o-transition: opacity .6s ease-in-out;
            transition: opacity .6s ease-in-out;
}

.absolute {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.hidden { opacity: 0; }

.quoted {
    color: #6290C3;
    text-align: right;
}

.dots {
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-evenly;
    width: 20vh;
    margin: 0 auto;
}

.dot {
    width: 15px;
    height: 15px;
    background-color: #CED3DC;
    cursor: pointer;
    border-radius: 50%;
    transition: background-color .6s ease;
}

.dot:hover,
.dot-active { background-color: #67686b; }

/* My "works of art". */
.ptext {
    text-align: right;
}

.pdesc {
    padding: 12px;
    background-color: #181e24;
}

.plinks {
    display: flex;
    justify-content: space-evenly;
    float: right;
    width: 30vh;
}

@media (max-width: 767.98px) {
    .ptext { text-align: center; }
    .plinks {
        float: none;
        margin: auto;
    }
}

.bottom-gap { margin-bottom: 4vh; }
/*
.projects {
    position: relative;
    width: 120vh;
    max-width: 94vw;
    margin:  0 auto 4vh auto;
    overflow: auto;
}

.projects img {
    position: relative;
    float: left;
    max-width: 90vw;
}

.ptext {
    float: right;
    width: 50vh;
    max-width: 90vw;
    text-align: right;
}

.plinks {
    display: flex;
    justify-content: space-evenly;
    width: 30vh;
}

@media (max-width: 125vh) {

    .projects img {
        left: 50%;
        transform: translateX(-50%);
        float: none;
        width: 50vh;
        max-width: 90vw;
    }
    .ptext {
        float: none;
        margin: auto;
        text-align: center;
    }

    .plinks {
        float: none;
        margin: auto;
    }
} */

/* My education experience. */
.school {
    width: 90vh;
    max-width: 85vw;
    margin: auto;
}

.cwss {
    padding: 5% 4%;
    background-color: #181e24;
}

.cwss > * { margin: 2px; }