html,
body {
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Titillium Web', sans-serif;
    background: linear-gradient(210deg, #2f393f, #232C33);
}

h1 {
    color: #F9E784;
    font-size: 4.3vh;
    font-weight: 600;
}

p, li {
    font-size: 2.2vh;
    font-weight: 300;
    color: #CED3DC;
}

strong {
    font-size: 2.2vh;
    font-weight: 600;
    color: #6290C3;
}

/* Hero Page */
.hero {
    height: 100vh;
    padding-top: 30vh;
}

.hero-inner {
    width: 100vh;
    max-width: 90vw;
    margin: auto;
}

.learn {
    position: relative;
    top: 5vh;
    padding: .5vw 1.8vw;
    background-color: #df4e53;
    color: #181e24;
    border-radius: 10rem;
}

/* Navigation */
header {
    width: 100%;
    height: 7vh;
    background-color: #232C33;
    -webkit-box-shadow: 0 10px 22px 1px rgba(24,30,36,1);
       -moz-box-shadow: 0 10px 22px 1px rgba(24,30,36,1);
            box-shadow: 0 10px 22px 1px rgba(24,30,36,1);
}

header h1 { color: #df4e53; }

.navbar-nav {
    padding-left: 10px;
    background-color: #232C33;
}

a {
    color: #6290C3;
    cursor: pointer;
}

a:hover {
    color: #CED3DC;
    text-decoration: none;
}

section {
    position: relative;
    height: auto;
    min-height: 100vh;
    padding-top: 10vh;
}

/* My "works of art". */
.ptext {
    text-align: right;
}

.phead {
    font-size: 3.6vh;
}

.pdesc {
    padding: 12px;
    background-color: #181e24;
}

.plinks {
    display: flex;
    justify-content: space-evenly;
    float: right;
    width: 30vh;
    font-size: 4vh;
}

.sub-head {
    margin-top: 5vh;
    text-align: center;
}

.sub-project {
    margin: 3vh .5vw;
    padding: 0;
    background-color: #181e24;
}

.sub-desc {
    margin: 1vh 2vw;
}

@media (max-width: 767.98px) {
    .ptext { text-align: center; }
    .plinks {
        float: none;
        margin: auto;
    }

    .sub-project {
        left: 50%;
        transform: translateX(-50%);
        width: 60vw;
    }
}

.bottom-gap { margin-bottom: 4vh; }

/* My education experience. */
.education {
    padding: 1vw;
    background-color: #181e24;
}

.education p {
    margin: .2em;
}

/* About Page */
#about {
    min-height: 87vh;
}

.about {
    width: 95vh;
    max-width: 95vw;
    padding: 2vh 4vw 4vh 12vw;
    margin: auto;
    background-color: #181e24;
}

.quotes {
    width: 70vh;
    max-width: 90vw;
    height: 25vh;
    margin: 5vh auto;
}

.carousel-indicators {
    top: -3vh;
}

.quoted {
    color: #6290C3;
    text-align: right;
}

/* Footer */
footer {
    height: 6vh;
    background-color: #181e24;
    text-align: center;
}